* {
  font-family: arial; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 1em; }

a:hover {
  color: #fff;
  text-decoration: none; }

/*BUTTON*/
.button {
  border: 0px;
  background: #555;
  color: #fff;
  padding: 7px; }
  .button:hover {
    background: #555;
    color: #fff;
    padding: 5px;
    border: #999 solid 2px; }

.back {
  text-align: center;
  background: #0056b3;
  position: absolute;
  width: 40px;
  height: 20px;
  top: 0px;
  left: 0px; }

/*INPUTS*/
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #000;
  -webkit-text-fill-color: #fff;
  border-bottom: #faffbd solid 2px !important; }
input[type=text], input[type=password], input[type=email] {
  background: #000;
  padding: 5px;
  outline: none;
  border: #999 solid 2px;
  color: #fff; }

/*Input warnings*/
.inputWarning {
  background: #fff;
  color: red;
  border-width: 1px;
  display: none;
  height: 0px;
  margin-bottom: 10px; }

.inputWrong {
  border-bottom: #B00 solid 2px !important; }

/*RPELOADER*/
.preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: auto;
  z-index: 9999; }

.preloaderBlock {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  color: #fff; }
  .preloaderBlock img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none; }
  .preloaderBlock h2 {
    font-weight: 100; }

/*MAIN*/
/*gradient*/
.gragientBlue {
  background: #1f75de;
  /* for old browsers */
  background: linear-gradient(to right, #1f75de, #07499a); }

/*shadows*/
.shadowBlueOut {
  -webkit-box-shadow: 0px 2px 13px 0px rgba(7, 73, 154, 0.7);
  -moz-box-shadow: 0px 2px 13px 0px rgba(7, 73, 154, 0.7);
  box-shadow: 0px 2px 13px 0px rgba(7, 73, 154, 0.7); }

.shadowBlueIn {
  -webkit-box-shadow: 0px 2px 13px 0px rgba(7, 73, 154, 0.7) inset;
  -moz-box-shadow: 0px 2px 13px 0px rgba(7, 73, 154, 0.7) inset;
  box-shadow: 0px 2px 13px 0px rgba(7, 73, 154, 0.7) inset; }

/*text*/
.textBlue {
  color: #1f75de; }

.textWhite {
  color: #FFF; }

/*HEADER*/
.header {
  padding: 10px;
  color: #fff; }
  .header h1 {
    font-size: 1em;
    font-weight: 100; }
  .header .login {
    background: #fff;
    width: 100%;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 3px; }

.myrmFull {
  display: block; }

.myrmShort {
  display: none; }

@media (max-width: 610px) {
  .myrmFull {
    display: none; }

  .myrmShort {
    display: block; } }
/*INDEX*/
#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s 0.4s; }

#progress {
  height: 1px;
  background: #fff;
  position: absolute;
  width: 0;
  top: 50%;
  transition: 1s; }

#progstat {
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
  color: #fff; }

/*MyPage*/
.zigzagAndFace {
  border-radius: 1000px 1000px 1000px 1000px;
  margin-top: 30px;
  max-height: 80px;
  background: url("/templates/assets/images/zigzag.png") 100% 50% no-repeat, linear-gradient(to right, #1f75de, #07499a); }
  .zigzagAndFace p {
    padding-left: 5%;
    -webkit-margin-before: 1em;
    -moz-margin-before: 1em;
    -o-margin-before: 1em;
    margin-before: 1em;
    -webkit-margin-after: 1em;
    -moz-margin-after: 1em;
    -o-margin-after: 1em;
    margin-after: 1em;
    -webkit-margin-start: 0em;
    -moz-margin-start: 0em;
    -o-margin-start: 0em;
    margin-start: 0em;
    -webkit-margin-end: 0em;
    -moz-margin-end: 0em;
    -o-margin-end: 0em;
    margin-end: 0em; }
  .zigzagAndFace img {
    width: 100%;
    border-radius: 10000px;
    max-height: 80px; }

.zigzagProfileImg {
  padding: 0px; }

.wrapper-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/templates/assets/images/PUBG-poster.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .wrapper-index .indexSignUpCard {
    padding: 20px;
    font: 100 0.7em Roboto, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: #fff solid 1px;
    z-index: 999; }
    .wrapper-index .indexSignUpCard::before {
      background: url("/templates/assets/images/PUBG-poster.jpg") 0/cover fixed;
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(20px);
      z-index: -1; }
    .wrapper-index .indexSignUpCard h2 {
      font: 100 2em Roboto, sans-serif;
      margin: 0px;
      font-weight: 500;
      padding: 0px;
      color: black; }
    .wrapper-index .indexSignUpCard h3 {
      font: 100 1.5em Roboto, sans-serif;
      margin-bottom: 20px;
      padding: 0px;
      font-weight: 500;
      color: black; }
    .wrapper-index .indexSignUpCard .card-text {
      background: rgba(255, 255, 255, 0.2);
      -webkit-box-shadow: 0px 0px 28px 11px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0px 0px 28px 11px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 28px 11px rgba(255, 255, 255, 0.3); }
      .wrapper-index .indexSignUpCard .card-text p {
        font: 100 12px Roboto, sans-serif;
        font-weight: 700;
        padding: 0px;
        color: #000; }
    .wrapper-index .indexSignUpCard .inp-field {
      margin-bottom: 0px;
      margin-top: 1rem; }

/*# sourceMappingURL=index.css.map */
